<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CitizenFX.Core.Server" version="1.0.6335" targetFramework="net452" />
  <package id="Dapper" version="1.60.6" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.21.9" targetFramework="net452" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net452" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net452" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.32.1" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" />
  <package id="System.Memory" version="4.5.4" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net452" />
</packages>